body {
    background-image:url(background.png); 
    background-repeat:no-repeat; 
    background-attachment:fixed;
    position: relative; 
}
.absolute {
    position: absolute;
}

#leftBarBack {
    width: 300px;
    position: absolute;
    height: 500px;
    background-color: white;
    opacity: 0.6;
    text-align: center;
    left: 40px;

}
#name{
  height: 160px;
}
#leftBar {
    position: absolute;
    left: 70px;
    top:290px;
    text-align: center;
    font-size: 32pt;
    color: #2e2828;
    font-weight: 600;
    font-family: 'Goudy Old Style', Garamond, 'Big Caslon', 'Times New Roman', serif;

}
#section1 {
    height:500px;
  }
#section2 {
    height:400px; 
    background-color: #ffffff;}
#section3 {
    height:470px;
    background-color: #ffffff;}
#section41 {
    height:270px;
    background-color: #ffffff;}
#section42 {
    height:500px;
    background-color: #ffffff;}
#aboutC {
  position: absolute;
  left: 340px;
  background-color: #f7efef;
  width: 600px;
  height: 400px;
  top:500px;
}
#aboutC p{
  font-family: Verdana, Geneva, sans-serif;
  position:absolute;
  bottom:30px;
  padding: 50px;
  padding-right: 150px;
}
#eduC {
  position: absolute;
  left: 340px;
  top: 1370px;
  width: 480px;
  height: 270px;
  background-color: #9c3131;
  color: white;

}
#eduC p{
  font-family: Verdana, Geneva, sans-serif;
  position:absolute;
  bottom:10px;
  padding-left: 50px;
  padding-bottom: 30px;
  padding-right: 70px;
}
#eduH {  position: absolute;
  left: 170px;
  top: 1370px;
  width: 180px;
  height: 180px;
  font-size: 22pt;
  background-color: #9d8787;
  color: white;}
#eduH p{  position:absolute;
  left: 10px;
  bottom:40px;
  text-align: center;
  font-family: 'Book Antiqua', Palatino, 'Palatino Linotype', 'Palatino LT STD', Georgia, serif;
}
#expC {
  font-family: Verdana, Geneva, sans-serif;
  position: absolute;
  left: 50px;
  top: 1640px;
  width: 670px;
  height: 330px;
  background-color: #392e2e;
  color: white;

}

#expC ul {
  position: absolute;
  bottom: 50px;
}
#skillH{
  position: absolute;
  left: 206px;
  top: 1970px;
  width: 180px;
  height: 180px;
  background-color: #9c3131;
  color: white;
}
#skillH p{  position:absolute;
  left: 40px;
  bottom:40px;
  text-align: center;
  font-size: 22pt;
  font-family: 'Book Antiqua', Palatino, 'Palatino Linotype', 'Palatino LT STD', Georgia, serif;
}
#skillC {
  font-family: Verdana, Geneva, sans-serif;
  color: black;
  position: absolute;
  right: 260px;
  top: 1970px;
  width: 300px;
  height: 300px;
  background-color: #9d8787;
  color: white;
}
#skillC p {
    position:absolute;
  bottom:10px;
  padding: 50px;
  padding-left: 150px;
}
.home {
  background-color: red;
}
.navItem {
text-align: left;
    width: 150px;

}
#Pphoto {
    position: absolute;
    top: 500px;
    left: 40px;
  height: 400px;
}
.container {
 /*   background-color: white;*/
}
.about {
    left: 300px;
}
.row2 {
    top:860px;
}
.col-sm-4 {
    /*background-color: white;*/
}


#photoSection{
  width: 400px;
  height: 300px;
  position: absolute;

}
#photo {
      position: absolute;
      left: 160px;

}
#overlay{width: 800px;
  position: absolute;
  bottom: -200px;
}
#caption {
  width: 650px;
  padding: 10px;
  box-sizing: border-box;
  color: white;
  font-size: 14pt;
  font-family: sans-serif;
  background-color: #9c3131;
  opacity: 0.7;
  position: absolute;

  left: 160px;
}
#forwardOverlay{width:400px;
  height: 600px;
  opacity: 0.5;
  float: left;

}
#leftarrow {
  width: 100px;
  position: absolute;
  bottom:50px;
  left: 50px; 
}
#rightarrow {
  width: 100px;
  position: absolute;
  bottom:50px;
  left: 700px; 
}
#backwardOverlay{width:400px;
  height: 600px;
  opacity: 0.5;
  float: left;
}
